<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elcode.bakesbay">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BakesBay">
        <activity
            android:name=".SuccesEditRecipe"
            android:exported="false" />
        <activity
            android:name=".reciep.MyRecipe"
            android:exported="false" />
        <activity
            android:name=".SuccessRecipe"
            android:exported="false" />
        <activity
            android:name=".SuccessProfile"
            android:exported="false" />
        <activity
            android:name=".reciep.RecipePage"
            android:exported="false" />
        <activity
            android:name=".user.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".reciep.AddReciepActivity"
            android:exported="false" />
        <activity
            android:name=".reciep.EditReciepActivity"
            android:exported="false" />
        <activity
            android:name=".autorization.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".user.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".user.SetupActivity"
            android:exported="true" />
        <activity
            android:name=".autorization.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".autorization.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>